<html>
	<div class="vert">
		<h1> About</h1>
		<h1></h1>
		<h1></h1>
		<body>
			I was born in Lebanon, a small country on the Mediterranean. I was first introduced to computers at the age of 5 when my brother bought a Pentium 2 computer.
			As I grew, I started to have an interest in how computers work and how they are built. 
			I was also fascinated by the impact they had and the immense potential of software and interactive arts.
			In 10th grade, I started diving into robotics and electronics, took software classes and formed a background in the field. 
			I chose to go abroad and study at Penn State because I wanted to broaden my horizons and get access to the 
			wonderful academic and professional opportunities provided by the university. 
			I have worked at small and big companies back home and in the States since then. 
			I have also participated in many competitions at Penn State and worked on projects I am very proud of. 
			Having acquired a strong background in software development, I now have five areas of interest:
			C++, Angular Development, UX/UI Design, Game Development and Cognitive Psychology. I am currently focused on UX/UI Design and Psychology.
			In the future, I aim to lead the initiative in influencing other people's lives in a positive way.
		</body>
		<div class="orientation">
			<img src="assets/a1.jpg">
			<img src="assets/a2.jpg">
		</div>
	</div>
</html>