<html>
	<div class="vert">
		<h1> About</h1>
		<h1></h1>
		<h1></h1>
		<body>
			I was born in Lebanon, a small country on the Mediterranean. I was first introduced to computers at the age of 5 when my brother bought a Pentium 2 computer.
			As I grew, I started to have an interest in how computers work and how they are built. 
			In 10th grade, I started diving into robotics and electronics, took software classes and formed a background in the field. 
			I chose to go abroad and study at Penn State because I wanted to broaden my horizons and get access to the numerous opportunities available in this wonderful university. 
			I have worked at small and big companies back home and at Penn State since then. 
			I have also participated in many competitions in Penn State and made achievements I am very proud of. 
			Having acquired a strong background in software development, I am now getting focusing on fours areas:
			C++, Angular Web Development, UX/UI Design and Game Development. 
			In the future, I aim to lead the initiative in influencing other peoples lives in a positive way.
		</body>
		<div class="hor">
			<img src="assets/a1.jpg">
			<img src="assets/a2.jpg">
		</div>
	</div>
</html>