<html>
	<mat-tab-group mat-stretch-tabs backgroundColor="primary" color="accent" dynamicHeight="true">
		<mat-tab>
			<ng-template mat-tab-label>
				UX/UI DESIGN PORTFOLIO
			</ng-template>

			<ng-template matTabContent>
				<h1></h1>
				<h1></h1>
				<body>
					<mat-accordion class="headers-align" multi="false">
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Terminal Dashboard</strong>
								</mat-panel-title>
								<mat-panel-description>
								Work Project
								</mat-panel-description>
							</mat-expansion-panel-header>

							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>
									The terminal dashboard was built to display the large number of statistics available on the VSAT (Satellite Modem) in an efficient, simple and pleasant manner.
									It is built with modern tools: Angular 8 framework, Angular Material for the UI design and Chart JS for the graphs.
									The dashboard allows the user to select any combination of stats and to add, remove and modify graphs.
									It was designed with accessibility and responsiveness in mind. It can be used anywhere by almost anyone.
								</p>
								
								<p><u><strong>Project Description:</strong></u></p>
								<p>
									The idea for a dashboard came about when it was communicated that customer service representatives and engineers were doing repetitive and time-consuming work to access
									terminal statistics. The dashboard is meant to be a solution to this problem by providing users with an efficient way to grab the information they need quickly
									and efficiently.
								</p>
								<p>
									There were a few attempts at creating a dashboard with plain javascript but the attempts were in prototype stages and never evolved beyond that.
									It is at that time that I joined Hughes and was tasked with creating a dashboard using Angular.
								</p>

								<p><u><strong>Project Research and Planning:</strong></u></p>
								<p>
									The project initially had very loose requirements and there was no clear vision as to what it should be. I met up with my manager 
									and a few other senior developers at the company to get a clear idea of expectations and our current capabilities in terms of software and hardware.
									I researched quite a bit about JavaScript frameworks and Angular as well as back-end technologies and methodologies in case our current back-end stat framework was not viable.
									I also got into contact with developers that previously attempted this project and got a clear idea of the challenges they faced. The problems faced were mostly related to
									interfacing our current back-end with JavaScript. Since I will be using Angular, many of the back-end and front-end interfacing challenges would be simplified.
									After a week of research and discussion, the project architecture was clear and tasks were delineated.
								</p>
								<p> My priority at this point was to work quickly to create an MVP/prototype to iterate on. I participated in daily meetings to showcase progress. 
									After a few months of hard-work and challenges, feedback from teammates and managers and a few demos, I was able to create a fully functioning dashboard that is now included in many terminals in the field
								</p>

								<p><u><strong>Challenges:</strong></u></p>
								<p>
									There were many challenges that I faced in this project. Most of them were technical and a few were design related. I will be talking about design challenges:
								</p>
								<p>	-	Deciding how many columns the dashboard should support. There was contention as to how big the grid columns should be.
										Thanks to the power of Angular, I proposed the solution to simply include an option to change the layout of the grid. It would spawn a few technical challenges but
										because of the importance of each column setting, it proved to be necessary. </p>
								<p>	-	Designing a mobile experience for the dashboard. To resolve this, I went through a lot of testing of the interface. I had multiple teammates use the mobile version and make suggestions.
										I also observed common inconveniences that they faced, such as scrolling the graph instead of the page, or having difficulty clicking graph buttons. 
										I ended up adding scroll buttons and making all buttons bigger along with other changes. This improved the mobile experience tremendously.
								</p>
								<p>	-	Dragging and dropping graphs into graph slots. This proved to be a very difficult technical challenge. To resolve, I had to compromise on the design. The feature itself was not crucial
										and after a discussion with my manager, it was decided that it would not be worth the time. I ended up implementing a free-flow drag and drop.
								</p>
								<p>	-	Supporting scroll-zooming, drag-zooming and panning on a live graph. This was a technically difficult challenge. At one point, I considered compromising the design. However, this 
									functionality is essential in a dashboard that is all about graphs. It took some time but I ended up modifying the zoom plugin library to support this functionality. </p>

								<p> Please note that the schemas and wireframing for this project were done on a whiteboard in our lab. I do not have pictures of these drawings to showcase.</p>	

								<p><strong> In the next paragraphs, I talk about the capabilities and features of the dashboard.</strong></p>

								<p><u><strong>Dashboard Layout:</strong></u></p>
								<p>
									The terminal dashboard is designed in a simplistic manner. It follows a conventional dashboard style with a toolbar, an expandable sidenav and plenty of space.
									The menu button on the top left opens the side nav and allows the user to add graphs and perform operations that impact all graphs. 
									At the bottom of the side nav, the user can switch between 1-column, 2-column and 3-column layouts. Graphs are aligned in a left to right fashion. 
									Each graph is located inside a card. The cards were used to contain the graphs and provide external functionality to each graph.
									At the top left of the card, the user can switch between different time spans.
									At the top right of the card, the user can access graph-specific functionality. 
									The positioning of the buttons were inspired by Material Design conventions.
									Adding and editing graphs opens dialogs that hover over the screen. 
								</p>

								<p><u><strong>Accessibility and Mobility:</strong></u></p>
								<p>The entirety of the dashboard can be used with just a keyboard. It abides by a number of accessibility standards. It is also built to support all kinds of displays.</p>
								<p>	There are some differences between the big display version and small display version:</p>
								<p>	-	The graph timespan options change from buttons to a menu to abide by size limits</p>
								<p>	-	There are up and down arrows on the right side of the display to help the user scroll up and down the dashboard for the smaller displays</p>
								<p>	-	The colored rectangles in graph legends turn into circles on smaller screens so that the graph legend would format correctly</p>
								<p>	-	Only one column layout is available for smaller screens as multiple columns do not work well on such devices</p>

								<img src="assets/terminaldashboard1.png" onclick="window.open('assets/terminaldashboard1.png', '_blank');">
								<img class="longimg" src="assets/terminaldashboard2.png" onclick="window.open('assets/terminaldashboard2.png', '_blank');">

								<p><u><strong>Adding and Editing Graphs:</strong></u></p>
								<p>
									The user can add graphs by pressing the ADD GRAPH button in the menu. There were other ideas on how to add graphs such as having a big gray area with a + symbol in the dashboard but the current implementation proved to be efficient enough.
									The user can edit graphs by pressing the button shaped like a pen located at the top right of every single graph. 
									Adding or editing graphs opens a dialog that allows the user to select the specific stats that should be displayed.
									The dialog design resembles common selection lists and forms that the user should be familiar with.
									The selection list employs an advanced search algorithm that allows out-of-order search. This makes searching much easier in case the user only remembers a small part of his selection.
									When adding/editing graphs with stats that have multiple units, stats are grouped up according to their unit and a graph is created for each one of those different units.
								</p>

								<img src="assets/terminaldashboard3.png" onclick="window.open('assets/terminaldashboard3.png', '_blank');">
								<img src="assets/terminaldashboard4.png" onclick="window.open('assets/terminaldashboard4.png', '_blank');">

								<p><u><strong>Bulk Graph Operations:</strong></u></p>
								<p>
									All of the following operations are common graph operations and allow the user to quickly interact with all available graphs.
									In the menu, the user can quickly delete all graphs. 
									The user can also refresh all graphs to return them to their default state and reset graph positions to their original positions. 
									The HELP button informs the user of all available shortcuts that can simplify dashboard usage. 
									When finished with a session, the user can press the save graphs to cache button to save graph configurations for the next session. 
									The cache is browser and machine specific. The dashboard can now be closed. The next time the dashboard opens, the same graphs will be shown. 
									Note that saving to cache overwrites already present graphs in the cache. The user also has the option to clear the cache. 
								</p>
								<p>Available keyboard shortcuts are:</p>
								<p>	-	+/Insert to add a graph</p>
								<p>	-	Delete to delete all graphs</p>
								<p>	-	Home to open the menu</p>
								<p>	-	End to refresh all graphs</p>
								<p><u><strong>Individual Graph Operations:</strong></u></p>
								<p>
									The user can select between Live 10 Min, which shows live data up to the past 10 minutes, and Live 30 Min, which shows live data up to the past 30 Min (Note that this option can severely impact application performance, especially for a large # of stats). 
									The user can also see historical (non-live) data for the past hour, day and 14 days. 
									These time spans were chosen after lengthy discussions with my manager and upper-management.
									Using the arrow-cross button, the user can move graphs around to their liking. This feature was implemented to assist the user in organizing the graphs to the user's liking.
									The pen button allows the user to edit the graph. Note that selecting stats with different units would create a graph for each unit. Please see Adding and Editing graphs section for more information.
									The menu option allows users to reset/refresh and remove the graph. 
									The user can also show and hide all stats or selectively choose which stat to show and hide by pressing on the stat legend in the graph itself.
									The graphs are equipped with scroll-zoom, drag-zoom and panning functionality. Use the left-mouse button to pan and right-mouse button to drag-zoom. Use the mouse wheel to scroll-zoom.
								</p>
								<img src="assets/terminaldashboard5.png" onclick="window.open('assets/terminaldashboard5.png', '_blank');">
							</ng-template>
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Lebcanexport.com</strong>
								</mat-panel-title>
								<mat-panel-description>
								Customer Project
								</mat-panel-description>
							</mat-expansion-panel-header>

							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>
									The Lebcanexport project is a website that was built for the Lebanese Embassy in Ottawa, Canada to accompany a virtual event. The event was organized to reinforce 
									Lebanese wine exports. The website was created in two weeks using Wordpress and was hosted using Bluehost and Azure. Feel free to visit the website!
								</p>
								
								<p><u><strong>Project Research and Planning:</strong></u></p>
								<p>
									As the project was done in two weeks, the design process was brief. Initially, I asked general questions about the goal, vision and requirements of the project.
									Clarifying questions were asked over the span of the first week while I started setting up the project on Wordpress. Before starting development, the requirements were clear:
								</p>
								<p>
									- The website should be one page and should be simple and pleasant to navigate.
								</p>
								<p>
									- The website will include information about attending agents and wineries.
								</p>
								<p>
									- The website will include a password-protected link that would send the user to an express-of-interest google form.
								</p>
								<p>
									- The website will include a video that explains the history and business of Lebanese wine. This meant I had to use a video-hosting website and I chose Vimeo.
								</p>
								<p>
									- The color scheme would be dark-red/white and some green to represent the colors of wine and the Lebanese flag.
								</p>
								<p>
									- The website would be visited by around 200 visitors in a short span of time, which confirmed my need to use a hosting service like Vimeo as it supports a large number of users
								</p>
								<p>
									Please note that the password-protected link was removed as the event has already passed and that the embedded videos won't display properly on mobile (expired Vimeo subscription).
								</p>

								<p><u><strong>Challenges:</strong></u></p>
								<p>
									There were a few challenges that I faced in this project. Most of them were technical and a few were design related. I will be talking about design challenges:
								</p>
								<p>	-	Deciding how to display the agents and the wineries was interesting as I had multiple ways of doing it. My focus was to display wineries in a way that can be
										easily processed and read by the user without the need for a lot of interaction. I wanted to display all wineries to highlight diversity of choice. 
										I decided to create a simple grid with all the wineries as icons and text. Hovering over the icon would enlarge it. 
										Clicking the icon or the text would open the relevant brochure PDF (provided by the wineries) in a new window or would download it on mobile phones. 
										As for the agents, I had to provide contact information for each of them. A simple expansion list was a simple and elegant way of doing this.
								</p>
								<p>	-	Deciding how much functionality to include/exclude was very challenging. For example, I had the choice of including a PDF viewer and a custom form inside the website
										instead of using Vimeo and Google Forms. I had to have constant discussions with the customer to abide by time constraints and to decide on what's essential.
										We decided to rely on ready-made available tools for more complex tasks (password-protection, video/form hosting), as time was the priority.
								</p>

								<img src="assets/lebWine1.PNG" onclick="window.open('assets/lebWine1.PNG', '_blank');">
								<img src="assets/lebWine2.PNG" onclick="window.open('assets/lebWine2.PNG', '_blank');">
								<img src="assets/lebWine3.PNG" onclick="window.open('assets/lebWine3.PNG', '_blank');">
								<img src="assets/lebWine4.PNG" onclick="window.open('assets/lebWine4.PNG', '_blank');">
								<img src="assets/lebWine5.PNG" onclick="window.open('assets/lebWine5.PNG', '_blank');">
							</ng-template>
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Nutshell</strong>
								</mat-panel-title>
								<mat-panel-description>
								Class/Personal Project
								</mat-panel-description>
							</mat-expansion-panel-header>

							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p> This was an evolving project during my undergraduate years. The main app idea was examined at a hackathon and in an entrepreneurship class. There were many changes and prototypes over time.</p>
								<p>	Nutshell helps students locate relevant, up to date, and interesting events going on around campus from  
									concerts to  a casual sports game to a LAN gaming event to a study group. 
									Our goal is to foster a strong community of college students who want to have fun and get together through local events that interest them. 
									The base idea is that we allow users to filter events happening around campus. They can see in-depth information about each event and its organizer. 
									The user then simply adds to his list some of the events he is interested in. 
									We have performed extensive research around our customers and the app has gathered a very positive response. 
									Our main app idea also came in 3rd place for the EdTech challenge in HackPSU Spring 2017 and we have made many changes to the app since then. 
									The biggest change was to scrap the point system that rewarded students, event organizers and retailers as we found that there wasn't enough support on the retail side.
									We studied the market and our app is very different from its competitors.
									Our competitors focus on ticket sales and the events themselves whereas we focus on fostering a community of students specific to each campus 
									and want to create a more personal experience.
								</p>
								<img class="centerimg" src="assets/nutshell1pager.png" onclick="window.open('assets/nutshell1pager.png', '_blank');">
								<p><strong><u>Personas:</u></strong></p>
								<img src="assets/persona1.png" onclick="window.open('assets/persona1.png', '_blank');">
								<img src="assets/persona2.png" onclick="window.open('assets/persona2.png', '_blank');">	
								<p><strong>The following document goes into the details of the project (MVC,surveys,Persona,Business Plan, etc.)</strong></p>
								<p align="center"><b>CLICK ON LINK TO DOWNLOAD PDF: </b><a href="https://github.com/gornad/Documents/raw/main/Nutshell_FinalReport.pdf" target="_blank">
									https://github.com/gornad/Documents/raw/main/Nutshell_FinalReport.pdf</a></p>
								<div class="vert">
									<pdf-viewer 
									[src]="'assets/Nutshell_FinalReport.pdf'"
									[show-all]="true" 
									style="display: block;">
									</pdf-viewer>
								</div>
							</ng-template>
						</mat-expansion-panel>
					</mat-accordion>
					
					<h1></h1>
					<h1></h1>
					<h1></h1>
					<h1></h1>
					<p><strong>Feel free to checkout my other portfolios!</strong>
				</body>
			</ng-template>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
				PROGRAMMING PORTFOLIO
			</ng-template>
			<h1></h1>
			<h1></h1>
			<body>
				<p><b>My github contains projects from some of my classes in college and other personal and competitive projects:</b></p>
				<p><a href="https://github.com/gornad" target="_blank">https://github.com/gornad</a></p>
				<p>Image processing projects using MATLAB.</p>
				<p>Operating systems design projects using C/C++. Projects range from program performance diagnostics to multithreading using mutexes and semaphores.</p>
				<p>Projects on algorithm optimizations and parallelism using OpenMP and MPI.</p>
				<p>Embedded Systems FGPA project using Vivado HLS.</p>
				<p><b>My devpost contains all hackathon projects I worked on throughout my college years:</b></p>
				<p><a href="https://devpost.com/gornad96" target="_blank">https://devpost.com/gornad96</a></p>
				<p><a href="https://www.mindsumo.com/solutions/173435/certificate" target="_blank">https://www.mindsumo.com/solutions/173435/certificate</a></p>

			</body>
		</mat-tab>
		<mat-tab>
			<ng-template mat-tab-label>
					GAME DEVELOPMENT PORTFOLIO
			</ng-template>

			<ng-template matTabContent>
				<h1></h1>
				<h1></h1>
				<body>
					<mat-accordion class="headers-align" multi="false">
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Unreal Engine 4: DualRun Game</strong>
								</mat-panel-title>
								<mat-panel-description>
								Prototype
								</mat-panel-description>
							</mat-expansion-panel-header>

							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>This is my first UE4 project. My main objective for the project was to learn as much as possible about UE4 and to establish a viable prototype for a game concept.</p>
								<p>The prototype contains wall-running and wall-climbing mechanics, 
								a time-slow ability, a dash ability, a speed-up ability, "Zombie" AI, turret AI and a random player radius AI. 
								The demo took approximately 2 months of research, learning, development and bug-fixing. 
								The project was built purely with Blueprints. The assets used were from the starter content and Gideon character available for free on the UE4 marketplace. </p>
								<p>You can try out the demo here: <a href="https://github.com/gornad/DualRun_Prototype" target="_blank">https://github.com/gornad/DualRun_Prototype</a>.</p>
								<img src="assets/dualrun1.png" onclick="window.open('assets/dualrun1.png', '_blank');">
								<img src="assets/dualrun2.png" onclick="window.open('assets/dualrun2.png', '_blank');">
							</ng-template>
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Dying Light: House of the Woods</strong>
								</mat-panel-title>
								<mat-panel-description>
								Map
								</mat-panel-description>
							</mat-expansion-panel-header>

							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>This map was created to showcase level design skills and includes some elements of horror and action.</p>
								<p> The map took approximately 100 hours of research and work and is my first map using the Dying Light Developer Tools (Chrome Engine 6).</p>
								<p>If you own Dying Light, feel free to check the maps out on the Dying Light Steam workshop.</p>
								<img src="assets/dl1.png" onclick="window.open('assets/dl1.png', '_blank');">
								<img src="assets/dl2.png" onclick="window.open('assets/dl2.png', '_blank');">	
								<p><u><strong>Statistics:</strong></u></p>	
								<p>This map performed incredibly well and 
									its two versions topped the Dying Light most popular mods list for months on the Steam Workshop. </p>
								<img src="assets/dl3.png" onclick="window.open('assets/dl3.png', '_blank');">
								<img src="assets/dl4.png" onclick="window.open('assets/dl4.png', '_blank');">	
								<img src="assets/dl5.png" onclick="window.open('assets/dl5.png', '_blank');">
								<img src="assets/dl6.png" onclick="window.open('assets/dl6.png', '_blank');">	
								<p>All of these captures were taken on 02/10/2019.</p>
							</ng-template>
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Skyrim: Ezekiel's Burial</strong>
								</mat-panel-title>
								<mat-panel-description>
								Dungeon
								</mat-panel-description>
							</mat-expansion-panel-header>
							
							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>This dungeon was created using the Creation Kit (Based on Bethesda's Creation Engine). It was created mainly to practice with the Creation Kit and to showcase level design skills. It is my attempt to create a dungeon map with the same quality as those present in the vanilla game. It is my first mod for Skyrim.</p>
								<p>The navmesh for this map was created from scratch as the automatic navmesh generation functionality was very inaccurate in my case.</p>
								<p>If you have Skyrim: Special Edition, you can try out the mod from here: <a href="https://bethesda.net/en/mods/skyrim/mod-detail/4086894" target="_blank">https://bethesda.net/en/mods/skyrim/mod-detail/4086894</a>.</p>
								<img src="assets/s1.png" onclick="window.open('assets/s1.png', '_blank');">
								<img src="assets/s2.png" onclick="window.open('assets/s2.png', '_blank');">
								<p><u><strong>Statistics:</strong></u></p>	
								<p>This map performed well and was well-received.</p>
								<img src="assets/s3.png" onclick="window.open('assets/s3.png', '_blank');">
								<p>The map also has 3 five-star ratings not visible in the screenshot.</p>
								<p>This capture was taken on 02/11/2019.</p>
							</ng-template>		
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Doom: Survive Fear</strong>
								</mat-panel-title>
								<mat-panel-description>
								Map
								</mat-panel-description>
							</mat-expansion-panel-header>
							
							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>My goal was to create a compelling Doom map with elements of fear, action and revenge while showcasing level-design skills. It was my first map for Doom.</p>
								<p>The map was made using Doom SnapMap</p>
								<img src="assets/dsf1.png" onclick="window.open('assets/dsf1.png', '_blank');">
								<img src="assets/dsf2.png" onclick="window.open('assets/dsf2.png', '_blank');">
								<p><u><strong>Statistics:</strong></u></p>	
								<p>The map was overall well-received.</p>
								<img src="assets/dsf3.png" onclick="window.open('assets/dsf3.png', '_blank');">
								<p>This capture was taken on 09/28/2018.</p>	
							</ng-template>		
						</mat-expansion-panel>
						<mat-expansion-panel>
							<mat-expansion-panel-header collapsedHeight="11vh">
								<mat-panel-title>
									<strong>Doom: Roger Caillois Four Types of Play</strong>
								</mat-panel-title>
								<mat-panel-description>
								Educational Map
								</mat-panel-description>
							</mat-expansion-panel-header>
							
							<ng-template matExpansionPanelContent>
								<p><u><strong>Project Overview:</strong></u></p>
								<p>My goal was to create a Doom map that showcases the 4 types of play elaborated on by French philosopher and thinker Roger Caillois.</p>
								<img src="assets/drc1.png" onclick="window.open('assets/drc1.png', '_blank');">
								<img src="assets/drc2.png" onclick="window.open('assets/drc2.png', '_blank');">
								<p><u><strong>Statistics:</strong></u></p>	
								<p>The map was relatively well-received although it was not popular.</p>
								<img src="assets/drc3.png" onclick="window.open('assets/drc3.png', '_blank');">
								<p>This capture was taken on 09/28/2018.</p>
							</ng-template>		
						</mat-expansion-panel>
					</mat-accordion>
					
					<h1></h1>
					<h1></h1>
					<h1></h1>
					<h1></h1>
					<p><strong>Check out playthroughs of my projects on my Youtube channel: </strong><a href="https://www.youtube.com/channel/UC2KXM2U_P1hLommtIlxIWpg" target="_blank">GornadGaming</a>.</p>
					<h1></h1>
					<p><strong>Check out the design documents for these maps at: </strong> <a href="https://github.com/gornad/Game-Development-Documents" target="_blank">https://github.com/gornad/Game-Development-Documents</a>.</p>
				</body>
			</ng-template>
		</mat-tab>
	</mat-tab-group>
</html>