.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
	flex-basis: 300px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}


body {
	padding: 4%;
}


h1, p {
	line-height: 25px;
}
img {
	padding: 0.5%;
	width: 49%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
	height: 49%;
	margin-left: auto;
	margin-right: auto;
	image-orientation: from-image;
	cursor: pointer;
}

html {
	background-color: white;
}