<html>
	<div class="vert">
		<h1> Programming Portfolio</h1>
		<h1></h1>
		<h1></h1>
		<body>
			<p><b>My github contains projects from some of my classes in college, the sleep tracker app I worked on in HackPSU Spring 2018 and my website code (and my resume).</b></p>
			<h1></h1>
			<p><a href="https://github.com/gornad" target="_blank">https://github.com/gornad</a></p>
			<h1></h1>
			<p>CMPEN 455: Image processing projects using MATLAB</p>
			<p>CMPSC 473: Operating systems design projects using C/C++. Projects range from program performance diagnostics to multithreading using mutexes and semaphores</p>
			<p>CMPSC 450: Projects on algorithm optimizations and parallelism using OpenMP and MPI</p>
			<h1></h1>
			<p><b>My devpost contains all hackathon projects I worked on throughout my college years</b></p>
			<h1></h1>
			<p><a href="https://devpost.com/gornad96" target="_blank">https://devpost.com/gornad96</a></p>
			<h1></h1>
		</body>
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1></h1>
		<h1> Game Design Portfolio</h1>
		<h1></h1>
		<h1></h1>
		<body>
			I will be uploading my game design work very soon! Hang in there.
		</body>
	</div>
</html>