<mat-sidenav-container>
  <mat-sidenav
    #drawer
    fixedInViewport="false"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]=false>

    <mat-toolbar color="primary">Menu</mat-toolbar>

    <mat-nav-list>
      <a (click)="drawer.toggle()" mat-list-item [routerLink]="['home']" routerLinkActive="active">HOME</a>
      <a (click)="drawer.toggle()" mat-list-item [routerLink]="['resume']" routerLinkActive="active">RESUME</a>
      <a (click)="drawer.toggle()" mat-list-item [routerLink]="['portfolio']" routerLinkActive="active">PORTFOLIO</a>
      <a (click)="drawer.toggle()" mat-list-item [routerLink]="['about']" routerLinkActive="active">ABOUT</a>
      <a (click)="drawer.toggle()" mat-list-item [routerLink]="['contact']" routerLinkActive="active">CONTACT</a>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <h1><span class="light">GEORGES JUNIOR NADDAF</span></h1>
	  <span class="spacer"></span>
	  <a *ngIf="!(isHandset$ | async)" mat-button [routerLink]="['home']" routerLinkActive="active">HOME</a>
	  <a *ngIf="!(isHandset$ | async)" mat-button [routerLink]="['resume']" routerLinkActive="active">RESUME</a>
	  <a *ngIf="!(isHandset$ | async)" mat-button [routerLink]="['portfolio']" routerLinkActive="active">PORTFOLIO</a>
	  <a *ngIf="!(isHandset$ | async)" mat-button [routerLink]="['about']" routerLinkActive="active">ABOUT</a>
	  <a *ngIf="!(isHandset$ | async)" mat-button [routerLink]="['contact']" routerLinkActive="active">CONTACT</a>
    </mat-toolbar>
    <!-- Add Content Here -->
	  <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
