mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 290px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

.hidden {
	display:none;
}

mat-toolbar {
  position: relative;
  z-index: 1;
  overflow-x: auto;
}

mat-toolbar-row {
  justify-content:space-between;
}

.spacer {
  flex: 1 1 auto;
}

a:link { 
  text-decoration: none;
}

a:hover {
  color: rgb(160, 160, 160);
}

a:visited {
  text-decoration: none;
}