.fullBg {
    z-index:0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
}

.top {
    width:35%;   //can use vw for viewport width
	  height:100%;
    margin-left: 33.8%;
    margin-right: auto;
    margin-top: 2%;
    cursor: grab;
}

@media screen and (max-width: 1600px) {
  .top {
    width: 40%; /* The width is 100%, when the viewport is 1400px or smaller */
    height:100%;
    margin-left: 31.6%;
  }
}

@media screen and (max-width: 1500px) {
  .top {
    width: 45%; /* The width is 100%, when the viewport is 1400px or smaller */
    height:100%;
    margin-left: 29.3%;
  }
}

@media screen and (max-width: 1400px) {
  .top {
    width: 50%; /* The width is 100%, when the viewport is 1400px or smaller */
    height:100%;
    margin-left: 27%;
  }
}

@media screen and (max-width: 1200px) {
  .top {
    width: 65%; /* The width is 100%, when the viewport is 1200px or smaller */
    height:100%;
    margin-left: 19%;
  }
}

@media screen and (max-width: 1000px) {
  .top {
    width: 75%; /* The width is 100%, when the viewport is 1000px or smaller */
    height:100%;
    margin-left: 15%;
  }
}

@media screen and (max-width: 800px) {
  .top {
    width: 90%; /* The width is 100%, when the viewport is 800px or smaller */
    height:100%;
    margin-left: 8%;
  }
}

@media screen and (max-width: 400px) {
  .top {
    width: 90%; /* The width is 100%, when the viewport is 400px or smaller */
    height:100%;
    margin-left: 11%;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  margin-bottom: 6%;
}

.handcards {
  display: flex;
  flex-direction: column;
    mat-card {
    max-width:700px;
    margin-bottom: 4%;
  }
}

mat-card {
    max-width:500px;
	  height:200px;
	  margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    
    background: rgba(255,255,255,0.9);
    overflow: hidden;
}

mat-card-header {
    color: #3f51b5;
}

mat-card img {
  object-fit: cover; /*this makes de image in src fit to the size of specified below*/
  width: 10%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}

mat-card-content {
	font-family: 'Roboto', sans-serif;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	font-size:115%;
	padding:20px;
}

