<html>
	<body>
		<img class="fullBg" src="assets/home-background.jpg">

		<div class="top">
			<mat-carousel
				timings="250ms ease-in"
				[autoplay]="true"
				interval="4000"
				color="primary"
				maxWidth="auto"
				proportion="67"
				slides="5"
				[loop]="true"
				[hideArrows]="true"
				[hideIndicators]="false"
				[useKeyboard]="true"
				[useMouseWheel]="true"
				orientation="ltr">
					<mat-carousel-slide
						#matCarouselSlide
						*ngFor="let image of imagesurl; let i = index"
						[image]="image"
						[hideOverlay]="true">
					</mat-carousel-slide>
		  	</mat-carousel>
		</div>

		<div class="cards" *ngIf="!(isHandset$ | async)">
			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/question.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> Hello! Welcome to my online website! Feel free to take a look around to discover more about me and what I do.</p>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/user.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> I am a Computer Engineering graduate from Penn State and am currently working as a Software Engineer for Hughes Network Systems.</p>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/star.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> My goal is to work on software that positively and profoundly impacts society. I am passionate about design and I care deeply about cognitive psychology and education.</p>
				</mat-card-content>
			</mat-card>
		</div>
		
		<div class="handcards" *ngIf="(isHandset$ | async)">
			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/question.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> Hello! Welcome to my online website! Feel free to take a look around to discover more about me and what I do.</p>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/user.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> I am a Computer Engineering graduate from Penn State and am currently working as a Software Engineer for Hughes Network Systems.</p>
				</mat-card-content>
			</mat-card>

			<mat-card>
				<mat-card-header>
					<img mat-card-sm-image src="assets/star.png">
				</mat-card-header>
				
				<mat-card-content>
					<p> My goal is to work on software that positively and profoundly impacts society. I am passionate about design and I care deeply about cognitive psychology and education.</p>
				</mat-card-content>
			</mat-card>
		</div>
	</body>
</html>